.about_current {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 2rem;
  }
}
