.acc_section {
  width: 100%;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
    cursor: pointer;
  }
  .accordion_div {
    border: 3px solid #444;
    padding: 1.5rem;
    border-radius: 0.3rem;
    .acc_item {
      display: flex;
      flex-direction: column;

      div {
        display: flex;
        align-items: center;

        gap: 3rem;
        flex-wrap: wrap;
        margin-left: 1rem;
        div {
          padding: 1rem;
          width: 8.8rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0;
          transition: 0.3s all;
          cursor: pointer;
          &:hover {
            transform: scale(1.3);
          }
          &:hover p {
            visibility: visible;
          }

          p {
            font-size: 1.5rem;
            transition: 0.3s all;
            font-weight: bold;
            @media (min-width: 400px) {
              visibility: hidden;
            }
          }
        }
      }
    }
    .description {
      font-size: 1.5rem;
    }
    .action_buttons_div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6rem;
      margin-top: 5rem;

      a {
        font-size: 2rem;
        font-weight: bold;
        padding: 2rem 4rem;
        border: 2px solid #444;
        transition: all 0.4s;
        overflow: hidden;
        position: relative;
        &:hover {
          color: #fff;
          background-color: #444;
          transform: scale(1.1);
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .acc_section {
    h1 {
      align-self: center;
    }
    h2 {
      font-size: 2.2rem;
      align-self: center;
    }
    .accordion_div {
      border: none;
      .acc_item {
        div {
          justify-content: center;
        }
        p {
          align-self: center;
        }
      }
    }
  }
  .action_buttons_div {
    flex-direction: column;
    a {
      width: 28rem;
    }
  }
}
